PORT=
ALLOWED_ORIGIN=
RPC_API_KEY=""          # Ethereum Node RPC API Key (i.e., Alchemy, Geth)
WALLET_ADDRESS=""       # Wallet Address (i.e., MetaMask)
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?uselibpqcompat=true&sslmode=require"